<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bench</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/overrides.css" rel="stylesheet">
    <link href="/stylesheets/offline.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#a06297">
</head>
<body>
<h1>Ow it seems you are ofline</h1>
<p class="text-danger">Sorry bro it seems you are ofline and we kinda need internet to work :/</p>
<h3>The bench</h3>
<p>The bench press is an upper body strength training exercise that consists of pressing a weight upwards from a
    supine position. The exercise works the pectoralis major as well as supporting chest, arm, and shoulder muscles
    such as the anterior deltoids, serratus anterior, coracobrachialis, scapulae fixers, trapezii, and the triceps.
    A barbell is generally used to hold the weight, but a pair of dumbbells can also be used.[1]
    The barbell bench press is one of three lifts in the sport of powerlifting (alongside the deadlift and squat)
    and is used extensively in weight training, bodybuilding, and other types of training to develop the chest
    muscles.</p>
<h4>Form</h4>
<p>The person performing the exercise lies on their back with a weight grasped in both hands. They push the weight
    upwards until their arms are extended, not allowing the elbows to lock. They then lower the weight to chest level.
    This is one repetition (rep).
    Powerlifting: take posture with body weight resting on buttocks and upper traps whilst driving feet into the floor.
    Movement requires the weight to be taken at full arms' length, lowered to upper torso, paused, and then lifted to
    starting position.</p>
<a href="/">Back</a>
</body>
<footer>
    <a href="https://en.wikipedia.org">Source:Wikipedia</a>
</footer>
</html>