<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deadlift</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/overrides.css" rel="stylesheet">
    <link href="/stylesheets/offline.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#a06297">
</head>
<body>
<h1>Ow it seems you are ofline</h1>
<p class="text-danger">Sorry bro it seems you are ofline and we kinda need internet to work :/</p>
<h3>Deadlifting</h3>
<p>
    The deadlift is a weight training exercise in which a loaded barbell or bar is lifted off the ground to the
    hips, then lowered back to the ground.[1] It is one of the three powerlifting exercises, along with the squat
    and bench press.Deadlift refers to the lifting of dead (without momentum) weight, such as weights lying on the
    ground. It is one of the few standard weight training exercises in which all repetitions begin with dead weight.
    There are several positions one can approach when performing the deadlift, which include the conventional
    deadlift, squat and sumo-deadlift. In most other lifts there is an eccentric (lowering of the weight) phase
    followed by the concentric (lifting of the weight) phase. During these exercises, a small amount of energy is
    stored in the stretched muscles and tendons in the eccentric phase, if the lifter is not flexible beyond the
    range of motion.
</p>

<h4>Form</h4>
<p>Conventional deadlift: The deadlift can be broken down into three parts: The setup, the initial pull or drive, and
    the lockout.
    Setup: When performing a deadlift, a lifter will set up in a position that eccentrically loads the gluteus maximus,
    minimus, biceps femoris, semitendinosus, and semimembranosus while the muscles of the lumbar contract isometrically
    in an effort to stabilize the spine.
    Set up behind the bar with it touching or nearly touching the legs.
    Begin by hinging at the hips and knees, setting one's weight predominantly in the heels while maintaining flat feet.
    Spine stays long and straight as hips hinge back, taking care not to allow knees to track forward over one’s toes.
    Gripping the bar either between the legs or on the outside, a lifter will depress their shoulders away from their
    ears in an effort to load the lats and generate force throughout their erectors.
    Drive: The next section of the deadlift produces the highest amount of force. By pushing down through their heels
    while simultaneously pushing up and forward with their hips and maintaining depressed scapula and a long tense spine
    an individual can remain safe during this motion. This is considered the most difficult part of the entire movement
    due to the amount of work required to drive the bar off the ground initially.
    Keep the muscles of the back contracted tightly in order to maintain a safe posture throughout the motion.
    Drive up and forward with the hips and legs to stand erect and lift the bar.
    Take a deep diaphragmatic breath and hold it in during the movement, thus creating an outward pressure on the core
    to further stabilize the lumbopelvic hip complex and core throughout the motion.
    Lockout: The finish is the most critical aspect of the motion. This requires being totally erect with the spine and
    forceful hip extension to engage the muscles of the lumbar spine and abdomen in unison with the glutes.
    Finish by driving the hips completely into the bar and getting as tall as possible. Contract the glutes while
    shortening the rectus abdominus to finish the movement with the pelvis in a neutral position.
    Contracting the glutes as well as the abdominal muscles is critical for low back health and safety.
    Lowering the weight: Finishing a deadlift is simply performing these same steps in reverse order. As the muscles of
    the back and core must remain tight throughout the motion, one should simply hinge at the hips and knees to bring
    the weight down. Lowering their chest towards their knees while keeping the bar close is the safest way to
    ultimately complete the motion.
    The stiff-legged deadlift is a variation whereby the knees are only slightly bent and not moved during the exercise.
    the Romanian deadlift is a variation on the stiff-legged named for Nicu Vlad. As it begins at the top and does not
    begin the concentric from a dead stop, it is alternatively called an undead lift.[2]
    The Sumo deadlift is a variation where one will approach the bar with the feet wider than shoulder-width apart and
    grip the bar with a close grip inside of one's legs and proceed with correct form. Compared to conventional
    deadlifts, the Sumo deadlift puts more emphasis on the glutes, hamstrings, hips, quads, and traps with less of an
    impact on spinal erectors and the posterior chain. Weightlifters with a history of back injuries may find that sumo
    deadlifts are a viable alternative. If allowed in competition, many lifters favor the Sumo deadlift due to shorter
    bar travel from floor to lockout.</p>

<a href="/">Back</a>
</body>
<footer>
    <a href="https://en.wikipedia.org">Source:Wikipedia</a>
</footer>
</html>