<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/overrides.css" rel="stylesheet">
    <link href="/stylesheets/offline.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#a06297">
</head>
<body>
<h1>Ow it seems you are ofline</h1>
<p class="text-danger">Sorry bro it seems you are ofline and we kinda need internet to work :/</p>
<article>
    <h3>The bench</h3>
    <p>The bench press is an upper body strength training exercise that consists of pressing a weight upwards from a
        supine position. The exercise works the pectoralis major as well as supporting chest, arm, and shoulder muscles
        such as the anterior deltoids, serratus anterior, coracobrachialis, scapulae fixers, trapezii, and the triceps.
        A barbell is generally used to hold the weight, but a pair of dumbbells can also be used.[1]
        The barbell bench press is one of three lifts in the sport of powerlifting (alongside the deadlift and squat)
        and is used extensively in weight training, bodybuilding, and other types of training to develop the chest
        muscles.</p>
    <a href="ofline/Bench.html">View more</a>

</article>

<article>
    <h3>Deadlifting</h3>
    <p>
        The deadlift is a weight training exercise in which a loaded barbell or bar is lifted off the ground to the
        hips, then lowered back to the ground.[1] It is one of the three powerlifting exercises, along with the squat
        and bench press.Deadlift refers to the lifting of dead (without momentum) weight, such as weights lying on the
        ground. It is one of the few standard weight training exercises in which all repetitions begin with dead weight.
        There are several positions one can approach when performing the deadlift, which include the conventional
        deadlift, squat and sumo-deadlift. In most other lifts there is an eccentric (lowering of the weight) phase
        followed by the concentric (lifting of the weight) phase. During these exercises, a small amount of energy is
        stored in the stretched muscles and tendons in the eccentric phase, if the lifter is not flexible beyond the
        range of motion.
    </p>
    <a href="ofline/deadlift.html">View more</a>
</article>

<article>
    <h3>Squat</h3>
    <p>In strength training and fitness, the squat is a compound, full body exercise that trains primarily the muscles
        of the thighs, hips and buttocks, quadriceps femoris muscle (vastus lateralis, vastus medialis, vastus
        intermedius and rectus femoris), hamstrings, as well as strengthening the bones, ligaments and insertion of the
        tendons throughout the lower body. Squats are considered a vital exercise for increasing the strength and size
        of the legs and buttocks, as well as developing core strength. Isometrically, the lower back, the upper back,
        the abdominals, the trunk muscles, the costal muscles, and the shoulders and arms are all essential to the
        exercise and thus are trained when squatting with the proper form.[1]
        The squat is one of the three lifts in the strength sport of powerlifting, together with deadlifts and bench
        press. It is also considered a staple in many popular recreational exercise programs.
    </p>
    <a href="ofline/Squat.html">View more</a>

</article>
<footer>
    <a href="https://en.wikipedia.org">Source:Wikipedia</a>
</footer>
</body>
</html>