<% include shared/header.ejs %>

<h2> Register page </h2>

<form action="doRegister" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <%
    if(locals.errorMessage){
    %>
    <p data-error="wrong"><%=errorMessage%> </p>
    <%
    }
    %>

    <button type="submit"> Register me!</button>
</form>

<a href="/login">Already have an account?</a>


<% include shared/footer.ejs %>

</html>