<% include shared/header.ejs %>

<h3><%= locals.username %> these are your routines</h3>

<%
for (let i = 0; i < locals.routines.length; i++) {

%>
<div>
    <h4> <%=locals.routines[i].title %></h4>
    <p>Targeted muscle <span id="muscle"><%= locals.routines[i].muscle %></span>  </p>
    <a href="/editRoutine?routeId=<%=locals.routines[i].id %>"> View</a>
</div>
<%
} %>
<% include shared/footer.ejs %>

</html>